.blog__content {
  text-align: center;
}

.blog__content .section__header {
  margin-bottom: 2rem;
  color: var(--white);
}

.blog__content h4 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--white);
}

.blog__content p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  color: var(--extra-light);
}

.blog__content .btn {
  background-color: transparent;
  border: 1px solid var(--white);
}

.section__header {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 400;
    font-family: var(--header-font);
    color: var(--text-dark);
    text-align: center;
}

.section__container {
    max-width: var(--max-width);
    margin: auto;
    padding: 5rem 1rem;
}

.blog {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("https://ik.imagekit.io/apm2002/Photos/blog.jpg?updatedAt=1723875060816");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.blog__container {
    padding-block: 8rem;
    display: grid;
}

.blog__container {
    grid-template-columns: repeat(2, 1fr);
}

@media (width > 768px){

  .blog__content {
    grid-column: 2/3;
  }
  
}